@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.min.css';

body {
  background: var(--body-bg);
  font-family: 'pixelmix';
}

:root {
  color: white;
  --lemon-yellow: #ffc300;
  --body-bg: #0f0f0f;
  --main-max-width: 1328px;
  --main-x-padding: 56px;
}

@font-face {
  font-family: 'pixelmix';
  src:
    local('pixelmix'),
    url(/fonts/pixelmix.ttf) format('truetype');
}

@supports (scrollbar-width: thin) and (scrollbar-color: var(--lemon-yellow)) {
  :root {
    scrollbar-width: thin;
    scrollbar-color: var(--lemon-yellow) var(--body-bg);
  }
}

@supports not (scrollbar-width: thin) {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--lemon-yellow);
    border-radius: 2px;
  }
}
