@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.min.css';

body {
  background: var(--body-bg);
  font-family: 'pixelmix';
}

:root {
  color: white;
  --lemon-yellow: #ffc300;
  --body-bg: #0f0f0f;
}

@font-face {
  font-family: 'pixelmix';
  src:
    local('pixelmix'),
    url(./fonts/pixelmix.ttf) format('truetype');
}
